<%- include("includes/head.ejs") %>
  <body>
    <h3>This is the home Page </h3>
    <h4><%= "APNA COLLEGE" %></h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem sapiente,
      distinctio nisi ea hic quasi. Excepturi nobis dolores non hic aperiam,
      culpa incidunt suscipit, cumque, doloribus voluptates expedita
      perspiciatis. Incidunt!
    </p>
    <button>Click me</button>
  </body>
</html>
