<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Addition of new Chat</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h3>Add a New Chat.....</h3>

    <form method="post" action="/chats">
      <input type="text" name="from" placeholder="Enter the form address:" />
      <br /><br />

      <textarea name="message">Write Your message here...</textarea>

      <br /><br />
      <input type="text" name="to" placeholder="Enter the reciever address" />

      <br /><br />
      <button type="submit">Add Chat</button>
    </form>
  </body>
</html>
