<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editing the post</title>
  </head>
  <body>
    <h3>Edit Your response</h3>
    <p>post id:<%= post.id %></p>
    <h3 class="user">@<%= post.username %></h3>
    <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
      <textarea name="content" placeholder="Enter the comments">
<%= post.content %></textarea
      >
      <br />
      <button>Add your post</button>
    </form>
  </body>
</html>
