<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Post</title>
  </head>
  <body>
    <h2>Create a new posts</h2>
    <form method="post" action="/posts">
      <input type="text" name="username" placeholder="Enter a user name" />
      <br /><br />
      <textarea name="content" placeholder="Enter the comments"></textarea>
      <br />
      <button>Add your post</button>
    </form>
  </body>
</html>
