<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Write a new Post</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Create a new Post</h1>
    <form action="/posts" method="post">
      <input type="text" name="username" placeholder="enter a user name" />
      <br /><br />
      <textarea name="content" placeholder="write a post"></textarea>
      <br /><br />
      <button>Submit Post</button>
    </form>
  </body>
</html>
